<vex-page-layout mode="simple">
  <vex-page-layout-content fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px" vexContainer>
    <div @stagger [fxFlex]="menuWidth" class="sticky top-6" fxHide fxLayout="column" fxShow.gt-sm>
      <mat-list class="navigation" fxFlex="grow">
        <div *ngFor="let item of sidebarMenu">
          <h5 *ngIf="item.type === 'subheader'" @fadeInRight matSubheader>
            {{ item.title }}
          </h5>
          <a *ngIf="item.type === 'link'" (click)="scrollTo(item)" @fadeInRight [class.bg-hover]="item.active"
            [class.text-primary]="item.active" class="list-item mb-2 no-underline flex items-center" matRipple>
            <span>{{ item.title }}</span>
          </a>
        </div>
      </mat-list>
    </div>

    <div @stagger class="max-w-6xl w-full" fxLayout="column" fxLayoutGap="24px">
      <vex-setup-enum @fadeInUp SHAREDPROP_GROUP="ASSET_CATEGORY" SHAREDPROP_TITLE="KATEGORI ASET" SHAREDPROP_DESC="?">
      </vex-setup-enum>

      <vex-setup-enum @fadeInUp SHAREDPROP_GROUP="ASSET_DETAIL" SHAREDPROP_TITLE="DETAIL ASET" SHAREDPROP_DESC="?">
      </vex-setup-enum>

      <vex-setup-enum @fadeInUp SHAREDPROP_GROUP="ASSET_STATUS" SHAREDPROP_TITLE="STATUS ASET" SHAREDPROP_DESC="?">
      </vex-setup-enum>

      <vex-setup-enum @fadeInUp SHAREDPROP_GROUP="MAINTENANCE_TYPE" SHAREDPROP_TITLE="TIPE PERAWATAN ASET"
        SHAREDPROP_DESC="?">
      </vex-setup-enum>

      <vex-setup-custom-field @fadeInUp CUSTOMFIELD_TITLE="ASSET MODEL" CUSTOMFIELD_GROUP="CUSTOM_FIELD_ASSET"
        CUSTOMFIELD_DESC="Data-data tambahan untuk model Asset. Data dikelompokan berdasarkan kategori tertentu.">
      </vex-setup-custom-field>

      <vex-setup-custom-field @fadeInUp CUSTOMFIELD_TITLE="JAMAAH MODEL" CUSTOMFIELD_GROUP="CUSTOM_FIELD_JAMAAH"
        CUSTOMFIELD_DESC="Data-data tambahan untuk model Jamaah. Data dikelompokan berdasarkan kategori tertentu.">
      </vex-setup-custom-field>

    </div>
  </vex-page-layout-content>
</vex-page-layout>
