<form (ngSubmit)="submit()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">
      {{ (form.get('auditedAt').value | date:'d MMM yyyy') || 'Formulir audit baru' }}
    </h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 mb-4 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Tgl Pelaksanaan</mat-label>
      <input formControlName="auditedAt" matInput [matDatepicker]="picker" (click)="picker.open()"
        (focus)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="(formControl.auditedAt.touched || submitted) && formControl.auditedAt.errors?.required">
        Tgl Pelaksanaan harus diisi
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status Asset Terakhir</mat-label>
      <mat-select formControlName="assetStatusEnum">
        <mat-option disabled>Pilih status asset terakhir</mat-option>
        <mat-option *ngFor="let item of statuses" [value]="item.code">{{ item.label }}</mat-option>
      </mat-select>
      <mat-error
        *ngIf="(formControl.assetStatusEnum.touched || submitted) && formControl.assetStatusEnum.errors?.required">
        Status Asset Terakhir harus dipilih
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Lokasi Terakhir</mat-label>
      <mat-select formControlName="locationId">
        <mat-option disabled>Lokasi terakhir</mat-option>
        <mat-option *ngFor="let item of locations" [value]="item.id">{{ item.label }}</mat-option>
      </mat-select>
      <mat-error *ngIf="(formControl.locationId.touched || submitted) && formControl.locationId.errors?.required">
        Lokasi Terakhir harus dipilih
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Catatan</mat-label>
      <textarea #notes formControlName="notes" matInput cdkAutosizeMinRows="2" matTextareaAutosize
        maxlength="150"></textarea>
      <mat-hint align="end">{{notes.value.length}} / 150</mat-hint>
      <mat-error *ngIf="(formControl.notes.touched || submitted) && formControl.notes.errors?.required">
        Catatan harus diisi
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button color="primary" mat-button type="submit" [disabled]="!submitable">SIMPAN</button>
  </mat-dialog-actions>
</form>
