<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
  <h2 class="headline m-0" fxFlex="auto">Duplikasi Aset</h2>

  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>

<mat-divider class="-mx-6 mb-4 text-border"></mat-divider>

<mat-dialog-content fxLayout="column">
  <form (ngSubmit)="submit()" [formGroup]="form">
    <p class="mt-0 mb-4 text-secondary">
      Informasi dasar secara default akan diduplikasi.<br>
      Beberapa informasi lain yang dapat diduplikasi:
    </p>

    <div class="mb-2 flex flex-row">
      <p class="w-full max-w-xs">Informasi Tambahan</p>
      <mat-slide-toggle class="ml-4" formControlName="detail" [checked]="false"></mat-slide-toggle>
    </div>

    <div class="mb-2 flex flex-row">
      <p class="w-full max-w-xs">Informasi Maintenance</p>
      <mat-slide-toggle class="ml-4" formControlName="maintenance" [checked]="false"></mat-slide-toggle>
    </div>

    <div class="mb-2 flex flex-row">
      <p class="w-full max-w-xs">Informasi Audit</p>
      <mat-slide-toggle class="ml-4" formControlName="audit" [checked]="false"></mat-slide-toggle>
    </div>

    <div class="mb-2 flex flex-row">
      <p class="w-full max-w-xs">File</p>
      <mat-slide-toggle class="ml-4" formControlName="file" [checked]="false"></mat-slide-toggle>
    </div>

    <div class="mb-2 flex flex-row">
      <p class="w-full max-w-xs">Set Notification</p>
      <mat-slide-toggle class="ml-4" formControlName="notification" [checked]="false"></mat-slide-toggle>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close type="button">CANCEL</button>
  <button color="primary" mat-button type="submit" [loading]="isSubmitting">COPY</button>
</mat-dialog-actions>
