<div class="px-gutter py-4 flex items-center shadow-1">
  <img [src]="avatar" alt="User Picture" class="flex-none avatar mr-4" />
  <div class="flex-auto mr-4">
    <p class="font-medium">{{ name }}</p>
    <p class="text-secondary font-medium text-xs" *ngIf="description">{{ description }}</p>
  </div>
  <button color="primary" mat-icon-button type="button" [matTooltip]="'Tgl SK: ' + (time | date:'dd-MMM-YY')">
    <mat-icon [icIcon]="icTime"></mat-icon>
  </button>
  <button color="warn" mat-icon-button type="button" matTooltip="Hapus dari kepengurusan"
    (click)="openDialogDel.emit()">
    <mat-icon [icIcon]="icDelete"></mat-icon>
  </button>
</div>

<ng-content></ng-content>
