<span class="card" fxLayout="column" fxLayout.gt-sm="row">

  <div class="p-6" fxFlex="60%">
    <div class="mt-0 mb-4" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="title" fxFlex="auto">
        BANNER MOBILE APPS
      </h2>
      <button (click)="fileInput.click()" matTooltip="Upload Banner" matTooltipPosition="above"
        class="cursor-pointer text-primary" mat-icon-button type="button" [loading]="isLoading">
        <mat-icon [icIcon]="icAdd"></mat-icon>
      </button>
    </div>

    <div>
      <input style="display: none" (change)="pickNupload()" type="file" accept="image/*" #fileInput>
    </div>

    <div @stagger class="py-4" [ngClass]="{'border-b': !last}"
      *ngFor="let item of sharedPropsSubject$ | async; let idx = index; let first = first ;let last = last;"
      fxLayout="row" fxLayoutAlign="start center">

      <div class="bg-app-bar rounded mr-3 h-32 overflow-hidden relative">
        <img [src]="item.banner" class="object-cover w-full h-full">
      </div>

      <div @fadeInRight fxFlex="auto">
        <span class="body-2 m-0 leading-snug ml-4 pl-4 border-l">{{ item.label }}</span>
      </div>
      <div class="flex flex-row justify-center">
        <button (click)="swapPosition(idx, 'up')" matTooltip="Pindah keatas" matTooltipPosition="above"
          [disabled]="first" class="cursor-pointer text-primary" mat-icon-button type="button">
          <mat-icon size="20px" [icIcon]="icUp"></mat-icon>
        </button>
        <button (click)="swapPosition(idx, 'down')" matTooltip="Pindah kebawah" matTooltipPosition="above"
          [disabled]="last" class="cursor-pointer text-primary" mat-icon-button type="button">
          <mat-icon size="20px" [icIcon]="icDown"></mat-icon>
        </button>
        <button (click)="removeModel(item)" matTooltip="Hapus" matTooltipPosition="above" [disabled]="!item.removable"
          class="cursor-pointer text-primary" mat-icon-button type="button">
          <mat-icon size="20px" [icIcon]="icTrash"></mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="border-l" fxFlex="40%">
    <div class="p-6">
      <h2 class="title mt-0 mb-4">DESKRIPSI</h2>
      <p class="text-secondary">
        Kelola foto banner untuk ditampilkan di laman utama (dashboard) aplikasi mobile INFO JM.
      </p>
    </div>
  </div>
</span>
