<span class="card" fxLayout="column" fxLayout.gt-sm="row">

  <div class="p-6" fxFlex="80">
    <div class="mt-0 mb-4" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="title" fxFlex="auto">CUSTOM FIELD ASSET</h2>
      <button matTooltip="Tambah Group" matTooltipPosition="above" class="cursor-pointer text-primary" mat-icon-button
        type="button" [loading]="isLoading" (click)="createOrUpdateGroupEnum()">
        <mat-icon [icIcon]="icAdd"></mat-icon>
      </button>
    </div>
    <mat-accordion multi>
      <mat-expansion-panel
        *ngFor="let item of groupEnumSubject | async; let idx = index; let first = first ;let last = last;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div @fadeInRight fxLayout="row" fxLayoutAlign="start center">
              <span class="body-2 m-0 leading-snug mr-4 pr-4 border-r">{{ item.code }}</span>
              <span class="text-secondary m-0 caption leading-none">{{ item.label }}</span>
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <div class="w-full" fxLayout="row" fxLayoutAlign="space-between center">
              <span fxFlex="auto"></span>
              <div class="flex flex-row justify-center">
                <button (click)="$event.stopPropagation();swapPositionGroupEnum(idx, 'up')" matTooltip="Pindah keatas"
                  matTooltipPosition="above" [disabled]="first" class="cursor-pointer text-primary" mat-icon-button
                  type="button">
                  <mat-icon size="20px" [icIcon]="icUp"></mat-icon>
                </button>
                <button (click)="$event.stopPropagation();swapPositionGroupEnum(idx, 'down')"
                  matTooltip="Pindah kebawah" matTooltipPosition="above" [disabled]="last"
                  class="cursor-pointer text-primary" mat-icon-button type="button">
                  <mat-icon size="20px" [icIcon]="icDown"></mat-icon>
                </button>
                <button (click)="$event.stopPropagation();createOrUpdateGroupEnum(item)" matTooltip="Edit Group"
                  matTooltipPosition="above" class="cursor-pointer text-primary" mat-icon-button type="button">
                  <mat-icon size="20px" [icIcon]="icEdit"></mat-icon>
                </button>
                <button (click)="$event.stopPropagation();removeGroupEnum(item);" matTooltip="Hapus Group"
                  matTooltipPosition="above" [disabled]="!item.removable" class="cursor-pointer text-primary"
                  mat-icon-button type="button">
                  <mat-icon size="20px" [icIcon]="icTrash"></mat-icon>
                </button>
              </div>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div @stagger [ngClass]="{'border-b': !last}"
          *ngFor="let cp of item.customFields; let idx = index; let first = first ;let last = last;" fxLayout="row"
          fxLayoutAlign="start center">
          <div @fadeInRight fxFlex="auto">
            <span class="body-2 m-0 leading-snug mr-4 pr-4 border-r">{{ cp.id }}</span>
            <span class="text-secondary m-0 caption leading-none">{{ cp.fieldName }}</span>
          </div>
          <div class="flex flex-row justify-center">
            <button matTooltip="Pindah keatas" matTooltipPosition="above" [disabled]="first"
              class="cursor-pointer text-teal" mat-icon-button type="button">
              <mat-icon size="20px" [icIcon]="icUp"></mat-icon>
            </button>
            <button matTooltip="Pindah kebawah" matTooltipPosition="above" [disabled]="last"
              class="cursor-pointer text-teal" mat-icon-button type="button">
              <mat-icon size="20px" [icIcon]="icDown"></mat-icon>
            </button>
            <button matTooltip="Edit Custom Field" matTooltipPosition="above" class="cursor-pointer text-teal"
              mat-icon-button type="button">
              <mat-icon size="20px" [icIcon]="icEdit"></mat-icon>
            </button>
            <button matTooltip="Hapus Custom Field" matTooltipPosition="above" class="cursor-pointer text-teal"
              mat-icon-button type="button">
              <mat-icon size="20px" [icIcon]="icTrash"></mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="border-l" fxFlex="20">
    <div class="p-6">
      <h2 class="title mt-0 mb-4">DESKRIPSI</h2>
      <p class="text-secondary">
        Data-data tambahan untuk model Asset. Data dikelompokan berdasarkan kategori tertentu.
      </p>
    </div>
  </div>
</span>
