<vex-secondary-toolbar>
  <div fxFlex="auto" fxHide.lt-sm>
    <span class="subheading-2 font-medium m-0 pr-3">Dashboard Bank Diklat</span>
  </div>
  <mat-form-field appearance="standard" class="w-full sm:max-w-xxxs mt-2 flex-end">
    <mat-label>Rentang Waktu Statistik</mat-label>
    <mat-date-range-input [formGroup]="dtRange" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Tgl Awal" (click)="picker.open()" (focus)="picker.open()">
      <input matEndDate formControlName="end" placeholder="Tgl Akhir" (click)="picker.open()" (focus)="picker.open()">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker">
      <ic-icon [icIcon]="icArrowDown" matDatepickerToggleIcon></ic-icon>
    </mat-datepicker-toggle>
    <mat-date-range-picker #picker startView="year"></mat-date-range-picker>
  </mat-form-field>
  <button class="ml-2 flex-end" color="primary" mat-icon-button [matMenuTriggerFor]="menuDtRange">
    <mat-icon [icIcon]="icMoreVert"></mat-icon>
  </button>
</vex-secondary-toolbar>

<div class="p-gutter" vexContainer>

  <div class="pb-gutter"
       gdColumns="1fr 1fr 2fr"
       gdColumns.lt-md="1fr 1fr"
       gdColumns.lt-sm="1fr"
       gdGap="16px"
       vexContainer>

    <vex-widget-quick-value-center [icon]="icTraining"
                                   iconClass="text-amber bg-amber-light"
                                   gdColumn.lt-sm="1"
                                   helpText="Total seluruh bank diklat"
                                   label="Diklat"
                                   [isLoading]="loadingCard"
                                   [value]="statisticFeed?.bankDiklatCount"></vex-widget-quick-value-center>
    <vex-widget-quick-value-center [icon]="icGroup"
                                   iconClass="text-primary bg-primary-light"
                                   gdColumn.lt-sm="1"
                                   helpText="Total pergawai berpartisipasi"
                                   label="Pegawai"
                                   [isLoading]="loadingCard"
                                   [value]="statisticFeed?.userInterestedCount"></vex-widget-quick-value-center>
    <vex-widget-quick-chart gdColumn.lt-sm="1"
                            helpText="Inisiator bank diklat"
                            [chartOptions]="chartPieOptions"
                            [isLoading]="loadingCard"></vex-widget-quick-chart>
  </div>

  <div class="card">
    <div class="border-b px-6 py-4" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="m-0 title" fxFlex="auto">
        <span class="block">Top <span class="text-primary cursor-pointer" [matMenuTriggerFor]="menuTopTM">{{ topSize }}</span> Bank Diklat Berdasarkan Peminat</span>
        <span class="text-xs text-hint">
          Statistik peminat diklat periode <span class="text-primary cursor-pointer" [matMenuTriggerFor]="menuDtRange">{{ dtRangeText }}</span>
        </span>
      </h2>

      <button mat-icon-button type="button" mat-icon-button [matMenuTriggerFor]="menuTopTM">
        <mat-icon [icIcon]="icMoreHoriz" class="text-secondary"></mat-icon>
      </button>
    </div>

    <div *ngIf="loadingTMT" @scaleFadeIn class="flex-auto flex flex-col justify-center items-center p-40">
      <mat-progress-spinner mode="indeterminate" class="text-left"></mat-progress-spinner>
    </div>

    <div *ngIf="!loadingTMT" class="px-6 pb-6">
      <apx-chart class="cursor-pointer" [series]="tmcOptions.series"
                 [chart]="tmcOptions.chart"
                 [dataLabels]="tmcOptions.dataLabels"
                 [plotOptions]="tmcOptions.plotOptions"
                 ></apx-chart>
    </div>
  </div>

  <router-outlet class="p-gutter"></router-outlet>

</div>

<mat-menu #menuDtRange="matMenu">
  <button mat-menu-item (click)="changeDateRage('last30days')">
    <span> 30 hari terakhir </span>
  </button>
  <button mat-menu-item (click)="changeDateRage('last90days')">
    <span> 3 bulan terkahir </span>
  </button>
  <button mat-menu-item (click)="changeDateRage('thisyear')">
    <span> Tahun ini </span>
  </button>
  <button mat-menu-item (click)="changeDateRage('last365days')">
    <span> Setahun terakhir </span>
  </button>
  <button mat-menu-item (click)="changeDateRage('lastyear')">
    <span> Tahun lalu </span>
  </button>
  <button mat-menu-item (click)="changeDateRage('alloftime')">
    <span> Semua Waktu </span>
  </button>
  <button mat-menu-item (click)="picker.open()">
    <span> Pilih tanggal </span>
  </button>
</mat-menu>

<mat-menu #menuTopTM="matMenu">
  <button mat-menu-item (click)="fetchDsTreeMapTop(10)">
    <span> Top 10 Diklat </span>
  </button>
  <button mat-menu-item (click)="fetchDsTreeMapTop(20)">
    <span> Top 20 Diklat </span>
  </button>
  <button mat-menu-item (click)="fetchDsTreeMapTop(50)">
    <span> Top 50 Diklat </span>
  </button>
  <button mat-menu-item (click)="fetchDsTreeMapTop(100)">
    <span> Top 100 Diklat </span>
  </button>
</mat-menu>
