<div class="mt-4 card">
  <div class="px-gutter py-4 border-b">
    <h2 class="title m-0">Informasi Aset</h2>
  </div>

  <div *ngIf="isLoading" class="card p-gutter flex flex-col md:flex-row">
    <div class="w-full md:w-1/2">
      <div class="flex flex-col">
        <ngx-shimmer-loading class="flex-1" [width]="'100%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading class="flex-1" [width]="'100%'" [height]="'100px'"></ngx-shimmer-loading>
      </div>
      <div class="flex flex-col">
        <ngx-shimmer-loading class="flex-1" [width]="'100%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading class="flex-1" [width]="'100%'" [height]="'100px'"></ngx-shimmer-loading>
      </div>
    </div>
    <div class="w-full md:w-1/2 flex flex-row place-content-around">
      <div class="flex flex-col w-full md:px-2 pr-2">
        <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"></ngx-shimmer-loading>
      </div>
      <ngx-shimmer-loading [shape]="'square'" [width]="'150px'"></ngx-shimmer-loading>
    </div>
  </div>

  <div *ngIf="!isLoading" class="py-4 flex flex-col md:flex-row md:items-start">
    <div class="px-gutter flex-auto">
      <table class="text-left w-full table-collapse">
        <tbody>
          <tr class="border-b border-t py-1">
            <td class="caption font-semibold w-1/3">Nama Aset</td>
            <td class="caption">{{model?.title}}</td>
          </tr>
          <tr class="border-b py-1">
            <td class="caption font-semibold w-1/3">Tag Aset</td>
            <td class="">{{model?.tagNo}}</td>
          </tr>
          <tr class="border-b py-1">
            <td class="caption font-semibold w-1/3">Pemilik</td>
            <td class="caption">{{model?.pembina.lvPembina}} {{model?.pembina.label}}</td>
          </tr>
          <tr class="border-b py-1">
            <td class="caption font-semibold w-1/3">Lokasi default</td>
            <td class="caption">{{model?.location.label}}</td>
          </tr>
        </tbody>
      </table>

      <div *ngFor="let item of additionalFields">
        <span class="title mt-4 block border-b">{{ item.label }}</span>
        <table class="text-left w-full table-collapse">
          <tbody>
            <tr class="border-b" *ngFor="let cf of item.customFields">
              <td class="caption font-semibold w-1/3">{{cf.fieldName}}</td>
              <td class="caption">{{cf | customField}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="px-gutter max-w-unset md:max-w-md w-full flex-none">
      <div class="flex flex-row">
        <div class="flex-auto">
          <span class="block caption font-semibold mb-1">Status Terakhir</span>
          <span class="rounded px-2 py-1 bg-green-light text-green">{{model?.status?.label}}</span>
        </div>
        <div class="flex-none justify-items-end p-2">
          <img *ngIf="!model?.tagNo" class="rounded" src="/assets/img/default/default-img.png" height="150px"
            width="150px" />
          <qr-code *ngIf="model?.tagNo" [value]="model?.tagNo" [errorCorrectionLevel]="'M'" margin="0">
          </qr-code>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mt-4">
  <div class="px-gutter py-4 border-b">
    <h2 class="title m-0">Dokumentasi Foto</h2>
  </div>

  <gallery class="hidden" [id]="galleryId" [itemTemplate]="itemTemplate"></gallery>

  <div *ngIf="isLoading" @stagger class="px-gutter py-4" gdColumns="1fr 1fr 1fr 1fr 1fr"
    gdColumns.lt-lg="1fr 1fr 1fr 1fr" gdColumns.xs="1fr 1fr" gdGap="16px">
    <ngx-shimmer-loading [shape]="'square'" [width]="'150px'"></ngx-shimmer-loading>
    <ngx-shimmer-loading [shape]="'square'" [width]="'150px'"></ngx-shimmer-loading>
    <ngx-shimmer-loading [shape]="'square'" [width]="'150px'"></ngx-shimmer-loading>
    <ngx-shimmer-loading class="hidden sm:block" [shape]="'square'" [width]="'150px'"></ngx-shimmer-loading>
    <ngx-shimmer-loading class="hidden md:block" [shape]="'square'" [width]="'150px'"></ngx-shimmer-loading>
  </div>
  <div *ngIf="!isLoading" @stagger class="px-gutter py-4" gdColumns="1fr 1fr 1fr 1fr 1fr 1fr"
    gdColumns.lt-lg="1fr 1fr 1fr 1fr" gdColumns.lt-md="1fr 1fr 1fr" gdColumns.xs="1fr 1fr" gdGap="24px">
    <div class="flex items-center justify-center" *ngFor="let item of galleries; let i = index" [gallery]="galleryId"
      [lightbox]="i" @scaleIn gdGridAlign="center">
      <figure class="relative cursor-pointer">
        <img class="rounded-lg shadow-xl hover:shadow-2xl" [src]="item.data.thumb" />
        <figcaption [title]="item.data.title"
          class="absolute text-lg text-white px-2 w-full bg-contrast-black bg-opacity-50 -mt-5">
          <div>
            <p class="truncate">{{item.data.title}}</p>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>

  <!-- Add custom template to image items -->
  <ng-template #itemTemplate let-index="index" let-types="type" let-data="data" let-currIndex="currIndex">
    <figcaption class="absolute mt-16 px-4 w-full h-full">
      <span *ngIf="index === currIndex" [@stagger]
        class="truncate text-center block w-full text-4xl bg-contrast-black bg-opacity-25 text-white">
        {{ data?.title }}
      </span>
    </figcaption>
  </ng-template>
