<div class="mt-4 flex flex-col md:flex-row md:items-start card">
  <div class="flex-auto p-4">
    <table class="text-left w-full table-collapse">
      <tbody>
        <tr class="border-b">
          <th class="p-2 w-1/3">ID</th>
          <td class="p-2">{{model?.id}}</td>
        </tr>
        <tr class="border-b">
          <th class="p-2 w-1/3">Nama Aset</th>
          <td class="p-2">{{model?.title}}</td>
        </tr>
        <tr class="border-b">
          <th class="p-2 w-1/3">Tag Aset</th>
          <td class="p-2">{{model?.tagNo}}</td>
        </tr>
        <tr class="border-b">
          <th class="p-2 w-1/3">Pemilik</th>
          <td class="p-2">{{model?.owner.lvPembina}} {{model?.owner.label}}</td>
        </tr>
        <tr class="border-b">
          <th class="p-2 w-1/3">Lokasi default</th>
          <td class="p-2">{{model?.location.label}}</td>
        </tr>
        <tr class="border-b" *ngFor="let item of model?.details">
          <th class="p-2 w-1/3">{{item.type.label}}</th>
          <td class="p-2">{{item.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="p-4 max-w-unset md:max-w-md flex-none">
    <img class="rounded" src="/assets/img/default/default-img.png" height="400px" width="400px" />
    <div class="py-4 flex flex-row">
      <div class="flex-auto">
        <h3>Status Terakhir</h3>
        <span class="rounded-sm px-2 py-1 bg-green-light text-green">{{model?.status.label}}</span>
      </div>
      <div class="flex-none justify-items-end">
        <img class="rounded" src="/assets/img/default/default-img.png" height="100px" width="100px" />
      </div>
    </div>
  </div>

</div>
