<div class="mt-4 card">
  <div class="px-gutter py-4 border-b">
    <h2 class="title m-0">Informasi Aset</h2>
  </div>

  <div *ngIf="isLoading" class="card p-gutter flex flex-col md:flex-row">
    <div class="w-full md:w-1/2">
      <div class="flex flex-col">
        <ngx-shimmer-loading class="flex-1" [width]="'100%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading class="flex-1" [width]="'100%'" [height]="'100px'"></ngx-shimmer-loading>
      </div>
      <div class="flex flex-col">
        <ngx-shimmer-loading class="flex-1" [width]="'100%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading class="flex-1" [width]="'100%'" [height]="'100px'"></ngx-shimmer-loading>
      </div>
    </div>
    <div class="w-full md:w-1/2 flex flex-row place-content-around">
      <div class="flex flex-col w-full md:px-2 pr-2">
        <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"></ngx-shimmer-loading>
      </div>
      <ngx-shimmer-loading [shape]="'square'" [width]="'120px'"></ngx-shimmer-loading>
    </div>
  </div>

  <div *ngIf="!isLoading" class="py-4 flex flex-col md:flex-row md:items-start">
    <div class="px-gutter flex-auto">
      <table class="text-left w-full table-collapse">
        <tbody>
          <tr class="border-b border-t py-1">
            <td class="caption font-semibold w-1/3">Nama Aset</td>
            <td class="caption">{{model?.title}}</td>
          </tr>
          <tr class="border-b py-1">
            <td class="caption font-semibold w-1/3">Tag Aset</td>
            <td class="">{{model?.tagNo}}</td>
          </tr>
          <tr class="border-b py-1">
            <td class="caption font-semibold w-1/3">Pemilik</td>
            <td class="caption">{{model?.pembina.lvPembina}} {{model?.pembina.label}}</td>
          </tr>
          <tr class="border-b py-1">
            <td class="caption font-semibold w-1/3">Lokasi default</td>
            <td class="caption">{{model?.location.label}}</td>
          </tr>
        </tbody>
      </table>

      <div *ngFor="let item of additionalFields | keyvalue">
        <span class="title mt-4 block border-b">{{ item.key }}</span>
        <table class="text-left w-full table-collapse">
          <tbody>
            <tr class="border-b" *ngFor="let data of item.value">
              <td class="caption font-semibold w-1/3">{{data.customField?.fieldName}}</td>
              <td class="caption">{{data.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="px-gutter max-w-unset md:max-w-md w-full flex-none">
      <div class="flex flex-row">
        <div class="flex-auto">
          <span class="block caption font-semibold mb-1">Status Terakhir</span>
          <span class="rounded px-2 py-1 bg-green-light text-green">{{model?.status?.label}}</span>
        </div>
        <div class="flex-none justify-items-end p-2">
          <img *ngIf="!model?.tagNo" class="rounded" src="/assets/img/default/default-img.png" height="150px"
            width="150px" />
          <qrcode *ngIf="model?.tagNo" [qrdata]="model?.tagNo" [width]="150" [errorCorrectionLevel]="'M'" margin="0">
          </qrcode>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mt-4">
  <div class="px-gutter py-4 border-b">
    <h2 class="title m-0">Dokumentasi Foto</h2>
  </div>
  <div *ngIf="isLoading" class="p-2" fxLayout="row" fxLayoutGap="8px">
    <ngx-shimmer-loading [shape]="'square'" [width]="'150px'"></ngx-shimmer-loading>
    <ngx-shimmer-loading [shape]="'square'" [width]="'150px'"></ngx-shimmer-loading>
    <ngx-shimmer-loading class="overflow-hidden" [shape]="'square'" [width]="'150px'"></ngx-shimmer-loading>
    <ngx-shimmer-loading class="overflow-hidden" [shape]="'square'" [width]="'150px'"></ngx-shimmer-loading>
  </div>
  <div *ngIf=" !isLoading" class="px-gutter py-4">
    <img *ngIf="!imageObject" class="rounded" src="/assets/img/default/default-img-hori.png" height="200"
      width="auto" />
    <ng-image-slider *ngIf="imageObject" #nav [images]="imageObject" [infinite]="false" [autoSlide]="1"
      [imageSize]="{height: 200}" slideImage="2" [animationSpeed]="0.5"></ng-image-slider>
  </div>
</div>
