<editable data-testid="formCtrl-btn" (cancel)="cancelField()" (modeChange)="onModeChange($event)"
  closeBindingEvent="dblclick">
  <ng-template viewMode>
    <div class="flex flex-row border-b py-1">
      <span class="flex-initial caption font-semibold w-1/2">{{ model.fieldName }}</span>
      <span class="flex-1 caption">
        {{
        ( model.fieldType === 'date' ? (model.value?.value | date:'d MMM yyyy') : model.value?.value) || '-not set-'
        }}
      </span>
      <div class="flex-none">
        <button class="mr-2 hover:bg-gray rounded-full px-1" matTooltip="Edit" matTooltipPosition="above">
          <ic-icon [icon]="icEdit" inline="true"></ic-icon>
        </button>
        <button [disabled]="!canDelete" (click)="$event.stopPropagation();onDelete()"
          [ngClass]="{'cursor-not-allowed opacity-25': !canDelete}" class="mr-2 hover:bg-gray rounded-full px-1"
          matTooltip="Delete" matTooltipPosition="above">
          <ic-icon [icon]="icDelete" inline="true"></ic-icon>
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template editMode>
    <div class="editable" style="font-size: 18px" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
      <section [ngSwitch]="model.fieldType" fxFlex="auto">

        <mat-form-field class="w-full" *ngSwitchCase="'date'" appearance="outline">
          <mat-label>{{ model.fieldName }}</mat-label>
          <input [formControl]="formCtrl" cdkFocusInitial data-testid="formCtrl-btn-edit" placeholder="Pilih Tanggal"
            matInput [matDatepicker]="picker" (click)="picker.open()" (focus)="picker.open()" required
            autocomplete="off" editableOnEscape>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-full" *ngSwitchCase="'dropdown'" appearance="outline">
          <mat-label>{{ model.fieldName }}</mat-label>
          <mat-select [formControl]="formCtrl">
            <mat-option disabled>Pilih salah satu</mat-option>
            <mat-option *ngFor="let item of dropdownOptions" [value]="item">{{ item }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full" *ngSwitchCase="'shared-property'" appearance="outline">
          <mat-label>{{ model.fieldName }}</mat-label>
          <mat-select [formControl]="formCtrl">
            <mat-option disabled>Pilih salah satu</mat-option>
            <mat-option *ngFor="let item of dropdownOptions" [value]="item.code">{{ item.label }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full" *ngSwitchDefault appearance="outline">
          <mat-label>{{ model.fieldName }}</mat-label>
          <input [formControl]="formCtrl" cdkFocusInitial data-testid="formCtrl-btn-edit" placeholder="Ketik value"
            matInput required autocomplete="off" editableOnEscape>
        </mat-form-field>
      </section>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
        <button mat-raised-button data-testid="formCtrl-cancel-btn" editableOnCancel>batal</button>
        <button mat-raised-button data-testid="formCtrl-save-btn" color="primary" [disabled]="formCtrl.pristine"
          (click)="updateField()" editableOnSave>Simpan</button>
      </div>
    </div>
  </ng-template>
</editable>
