.editable .mat-form-field-wrapper {
  padding-bottom: 0;
}

.editable .mat-form-field {
  font-size: 10px;
}

.editable .mat-raised-button {
  min-width: 50px;
  font-size: 10px;
  height: 36px;
  margin-top: 2.5px;
  min-width: 68px;
}
