<vex-secondary-toolbar current="Formulir Aset">
  <div fxFlex="auto" *ngIf="isFetching">
    <button mat-button [loading]="'true'"></button>
  </div>
  <span fxFlex="auto" *ngIf="!isFetching">{{ form.get('title').value || 'Formulir Aset Baru' }}</span>

  <button class="border-none" color="primary" mat-button type="button" vexBackButton="benda-sabil">
    <mat-icon [icIcon]="icBack"></mat-icon>
    <span class="pr-2 py-2">Back</span>
  </button>
</vex-secondary-toolbar>

<div [@stagger]="true" class="p-gutter" vexContainer>
  <div class="flex flex-col md:flex-row">

    <div @fadeInUp class="flex-1 md:mr-2">
      <div class="card">
        <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
          <h2 class="title m-0">Informasi Dasar</h2>
        </div>
        <div class="px-6 py-4" *ngIf="isFetching">
          <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'" [height]="'40px'"></ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'" [height]="'40px'"></ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'" [height]="'40px'"></ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'" [height]="'40px'"></ngx-shimmer-loading>
          <div dir="rtl">
            <ngx-shimmer-loading [shape]="'rect'" [width]="'15%'" [height]="'30px'"></ngx-shimmer-loading>
            <ngx-shimmer-loading [shape]="'rect'" [width]="'15%'" [height]="'30px'" class="pr-2"></ngx-shimmer-loading>
          </div>
        </div>

        <form *ngIf="!isFetching" (ngSubmit)="submit()" [formGroup]="form" autocomplete="off">

          <div class="px-6 py-4" fxLayout="column">

            <mat-form-field appearance="outline">
              <mat-label>Judul</mat-label>
              <input cdkFocusInitial formControlName="title" matInput required>
              <mat-error *ngIf="(formControl.title.touched || submitted) && formControl.title.errors?.required">
                Judul harus diisi
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Tag No.</mat-label>
              <input formControlName="tagNo" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Kategori</mat-label>
              <mat-select formControlName="categoryEnum" required>
                <mat-option disabled>Pilih kategori</mat-option>
                <mat-option *ngFor="let item of categories" [value]="item.code">{{ item.label }}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="(formControl.categoryEnum.touched || submitted) && formControl.categoryEnum.errors?.required">
                Kategori harus dipilih
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select formControlName="statusEnum" required>
                <mat-option disabled>Pilih status</mat-option>
                <mat-option *ngFor="let item of statuses" [value]="item.code">{{ item.label }}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="(formControl.statusEnum.touched || submitted) && formControl.statusEnum.errors?.required">
                Status harus dipilih
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Pembina</mat-label>
              <mat-select formControlName="pembinaEnum" required>
                <mat-option disabled>Pilih pembina</mat-option>
                <mat-option *ngFor="let item of pembinas" [value]="item.code">{{ item.label }}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="(formControl.pembinaEnum.touched || submitted) && formControl.pembinaEnum.errors?.required">
                Pembina harus dipilih
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Lokasi</mat-label>
              <mat-select formControlName="locationId" required>
                <mat-option disabled>Pilih lokasi</mat-option>
                <mat-optgroup *ngFor="let g of locations | keyvalue" [label]="g.key">
                  <mat-option *ngFor="let l of g.value" [value]="l.id">{{ l.label }}</mat-option>
                </mat-optgroup>
              </mat-select>
              <mat-error
                *ngIf="(formControl.locationId.touched || submitted) && formControl.locationId.errors?.required">
                Lokasi harus dipilih
              </mat-error>
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button mat-button type="button" [disabled]="!resetable" (click)="reset()">RESET</button>
              <button color="primary" mat-button type="submit" [disabled]="!submitable"
                [loading]="isSubmitting">SIMPAN</button>
            </div>

          </div>
        </form>
      </div>
    </div>

    <div @fadeInUp class="flex-1 md:ml-2 mt-4 md:mt-0">
      <div class="card">
        <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="space-between center">
          <h2 class="title m-0" fxFlex="auto">Informasi Tambahan</h2>
          <div class="labels" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="4px">
            <span
              class="label bg-gray-light text-contrast-white font-bold mx-1 border-b-2 border-gray rounded cursor-pointer"
              (click)="accordion.openAll()">
              <p class="text-xxs text-secondary">Expand All</p>
            </span>
            <span
              class="label bg-gray-light text-contrast-white font-bold mx-1 border-b-2 border-gray rounded cursor-pointer"
              (click)="accordion.closeAll()">
              <p class="text-xxs text-secondary px-2">Collapse All</p>
            </span>
          </div>
        </div>

        <div class="px-6 py-4" *ngIf="isFetching">
          <ngx-shimmer-loading [width]="'100%'" [height]="'50px'"></ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
        </div>

        <div class="px-6 py-4" *ngIf="isFetching">
          <ngx-shimmer-loading [width]="'100%'" [height]="'50px'"></ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
        </div>

        <div fxLayout="column" *ngIf="!isFetching">
          <div *ngIf="isNew" class="p-gutter caption text-secondary">
            <span class="text-sm">Silakan isi formulir dan simpan untuk mengaktifkan informasi tambahan.</span>
          </div>
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel *ngFor="let item of assetDetail;let first = first" [expanded]="first">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item.label }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <vex-custom-field-editor *ngFor="let cf of item.customFields" [model]="cf"
                (save)="onSaveDetail($event, cf)">
              </vex-custom-field-editor>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>

  </div>
</div>
