<div [ngClass.gt-sm]="['mr-6']" class="card overflow-auto max-w-sm mt-3">
  <div class="bg-primary text-primary-contrast p-gutter">
    <h2 class="headline mb-4">INTEGRASI API</h2>

    <p class="caption">
      Integrasi API adalah laman yang mendefinisikan
      secara lengkap data payload request dan response API
      oleh sistem yang mengakses IPortal Jamaah secara H2H (Host to Host).
    </p>

    <p class="caption">
      Setiap request ke API akan membutuhkan
      token otentikasi. User yang digunakan
      untuk membuat token otentikasi dalam
      dibuat di menu user oleh Admin
    </p>

    <a target="blank" href="{{ swaggerUrl }}" class="border border-primary-contrast border-solid mt-4" mat-button type="button">AKSES API</a>

  </div>
</div>

