<div class="mt-4 flex flex-col md:flex-row md:items-start">
  <div class="max-w-unset md:max-w-xs mr-6 my-6 md:mt-0 w-full flex-none">
    <div class="card">
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">Informasi Pribadi</h2>
      </div>
      <div @stagger class="px-6 py-4 flex justify-center">
        <img @scaleIn class="avatar h-48 w-48 flex-none align-start border-3 border-white"
          [src]="this.model?.avatar || '/assets/img/user/default.png'">
      </div>
      <div class="px-gutter py-3">
        <vex-card-box [icon]="icNumber" [loading]="isLoading" [value]="model?.fullName" label="Nama Lengkap">
        </vex-card-box>
        <vex-card-box [icon]="icNumber" [loading]="isLoading" [value]="model?.nickname" label="Nama Panggilan">
        </vex-card-box>
        <vex-card-box [icon]="faGender" [loading]="isLoading" [value]="model?.gender" label="Gender"></vex-card-box>
        <vex-card-box [icon]="icAccessTime" [loading]="isLoading" [value]="model?.birthDate | date:'dd MMM yyyy'"
          label="Tanggal Lahir">
        </vex-card-box>
      </div>
    </div>

    <div class="card mt-4" *ngFor="let family of model?.families">
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">{{family.label || 'Anggota Keluarga'}}</h2>
      </div>
      <div class="px-gutter py-3">
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of family?.members">
          <div @scaleIn
            class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icNumber" size="20px"></ic-icon>
          </div>
          <div @fadeInRight fxFlex="auto">
            <a [routerLink]="['/jamaah', item.jamaahId]" class="m-0 body-1 text-primary hover:underline">{{
              item.jamaah.fullName }}</a>
            <p class="m-0 caption text-hint">{{ item.relationship.label }}</p>
          </div>
          <p @scaleIn class="px-2 py-1 rounded-sm font-bold bg-gray-light text-gray">{{ item.status }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-auto">

    <section *ngIf="isLoading" gdColumns="1fr 1fr" gdColumns.xs="1fr" gdGap="16px" gdAuto="row dense">
      <div class="card">
        <div class="px-gutter py-4 border-b">
          <ngx-shimmer-loading width="100%" height="15px"></ngx-shimmer-loading>
        </div>
        <div class="px-gutter py-4">
          <vex-card-box *ngIf="isLoading" [loading]="isLoading"></vex-card-box>
          <vex-card-box *ngIf="isLoading" [loading]="isLoading"></vex-card-box>
        </div>
      </div>
      <div class="card" fxHide.xs>
        <div class="px-gutter py-4 border-b">
          <ngx-shimmer-loading width="100%" height="15px"></ngx-shimmer-loading>
        </div>
        <div class="px-gutter py-4">
          <vex-card-box *ngIf="isLoading" [loading]="isLoading"></vex-card-box>
          <vex-card-box *ngIf="isLoading" [loading]="isLoading"></vex-card-box>
        </div>
      </div>
    </section>

    <div class="flex flex-col sm:flex-row">
      <div class="flex-1">
        <div class="card" *ngFor="let detail of jamaahDetailOdds; first as isFirst" [ngClass]="{'mt-4': !isFirst}">
          <div class="px-gutter py-4 border-b">
            <h2 class="title m-0">{{ detail.label }}</h2>
          </div>
          <div class="px-gutter py-4">
            <table class="text-left w-full table-collapse">
              <tbody>
                <tr [ngClass]="{'border-t': !first, 'border-b': !last}" class="py-1"
                  *ngFor="let item of detail.customFields; let first = first; let last = last">
                  <td class="caption font-semibold w-1/2">{{ item.fieldName }}</td>
                  <td class="caption">{{ item.value?.value }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="flex-1 sm:ml-4 mt-4 sm:mt-0">
        <div class="card" *ngFor="let detail of jamaahDetailEvens; first as isFirst" [ngClass]="{'mt-4': !isFirst}">
          <div class="px-gutter py-4 border-b">
            <h2 class="title m-0">{{ detail.label }}</h2>
          </div>
          <div class="px-gutter py-4">
            <table class="text-left w-full table-collapse">
              <tbody>
                <tr [ngClass]="{'border-t': !first, 'border-b': !last}" class="py-1"
                  *ngFor="let item of detail.customFields; let first = first; let last = last">
                  <td class="caption font-semibold w-1/2">{{ item.fieldName }}</td>
                  <td class="caption">{{ item.value?.value }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="model?.contacts" class="card mt-4">
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">Informasi Kontak</h2>
      </div>
      <div class="px-gutter py-4" gdColumns="1fr 1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
        <vex-card-box [loading]="isLoading" *ngFor="let item of model?.contacts"
          [icon]="item.contactType === 'phone' ? icPhone : icMail" [value]="item.label" [label]="item.value">
        </vex-card-box>
      </div>
    </div>

    <div *ngIf="model?.families" class="card mt-4">
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">Informasi Tempat Tinggal</h2>
      </div>
      <div class="px-gutter py-4">
        <div *ngFor="let item of model?.families">
          <div class="py-3" fxLayout="row" fxLayoutAlign="start none" *ngIf="item.residance">
            <div @scaleIn
              class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
              <ic-icon [icon]="icHome" size="20px"></ic-icon>
            </div>
            <div @fadeInRight fxFlex="auto">
              <div class="m-0 body-1">
                <h5 class="m-0">{{ item.residance?.type.label }}</h5>
                <div class="leading-none">
                  <p class="m-0 caption text-hint">
                    {{
                    [
                    item.residance.address.streetName,
                    item.residance.address.houseNo,
                    'RT/RW',
                    [item.residance.address.rt, item.residance.address.rw].join('/'),
                    item.residance.address.kelurahan,
                    item.residance.address.kecamatan,
                    item.residance.address.city,
                    item.residance.address.postCode
                    ].join(' ')
                    }}
                  </p>
                </div>
              </div>
              <p class="m-0 caption text-hint">{{item.residance.label}}</p>
            </div>
            <a *ngIf="item.residance.address.geo" target="blank"
              href="https://map.google.com?q={{ item.residance.address.geo }}" @scaleIn
              class="ml-3 w-10 h-10 rounded-full bg-green-light text-green flex items-center justify-center">
              <ic-icon [icon]="icMap" size="20px"></ic-icon>
            </a>
            <div *ngIf="!item.residance.address.geo" target="blank" href="#" @scaleIn
              class="ml-3 w-10 h-10 rounded-full bg-gray-light text-gray flex items-center justify-center">
              <ic-icon [icon]="icMap" size="20px"></ic-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
