<div @stagger class="max-w-xxxs w-full">
  <div class="h-14 mb-6 flex bg-primary px-gutter sm:px-0" fxLayout="row" fxLayoutAlign="start center">
    <button (click)="openAddNew.emit()" class="flex-auto" mat-raised-button type="button">
      <ic-icon [icon]="icPersonAdd" class="mr-3" inline="true" size="18px"></ic-icon>
      <span>TAMBAH JAMAAH</span>
    </button>
  </div>

  <div class="px-gutter sm:px-0">
    <ng-container *ngFor="let item of items">
      <a (click)="setFilter(item.id)" @fadeInRight [class.bg-hover]="isActive(item.id)"
        [class.text-primary]="isActive(item.id)"
        class=" py-3 px-2 mt-2 no-underline flex items-center cursor-pointer rounded-sm" matRipple>
        <ic-icon [icon]="item.icon" [ngClass]="item.classes?.icon" class="mr-1" size="24px"></ic-icon>
        <span>{{ item.label }}</span>
      </a>
    </ng-container>
  </div>
</div>
