.file-drop-wrapper {
  background: inherit !important;
  padding-top: 0 !important;
  cursor: pointer;
}

.ngx-checkmark,
::before,
::after {
  box-sizing: unset;
}

file-drop {
  padding: 0 !important;
}
