<span class="card" fxLayout="column" fxLayout.gt-sm="row">

  <div class="p-6" fxFlex="70%">
    <form [formGroup]="form">
      <h2 class="title mt-0 mb-4">INFORMASI IPORTAL</h2>

      <div fxLayout="column" fxLayoutAlign="space-between center">
        <mat-form-field class="w-full">
          <mat-label>Tagline Dashboard</mat-label>
          <input type="text" formControlName="iPortalTagline" matInput>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Deskripsi IPortal</mat-label>
          <textarea type="text" formControlName="iPortalDesc" matInput></textarea>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Telepon Kontak</mat-label>
          <input type="text" formControlName="contactTelpValue" matInput>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Telepon Deskripsi</mat-label>
          <textarea type="text" formControlName="contactTelpDesc" matInput></textarea>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Email Kontak</mat-label>
          <input type="text" formControlName="contactEmailValue" matInput>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Email Deskripsi</mat-label>
          <textarea formControlName="contactEmailDesc" matInput></textarea>
        </mat-form-field>
      </div>

      <div fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-stroked-button type="button" (click)="reset()"[disabled]="!submitable">Reset</button>
        <button mat-stroked-button color="primary" type="button" (click)="submit()" [disabled]="!submitable">Update</button>
      </div>
    </form>
  </div>

  <div class="border-l" fxFlex="30%">
    <div class="p-6">
      <h2 class="title mt-0 mb-4">DESKRIPSI</h2>
      <p class="text-secondary">
        Informasi IPortal tampil laman dashboard untuk kalimat sambutan dan informasi kontak jika ada kendala di IPortal.
      </p>
    </div>
  </div>
</span>
